:host {
  display: flex;
  overflow: hidden;
}

.panel {
  flex: 1;
  padding: 10px;
  overflow: auto;
}

.resource {
  display: flex;
  align-items: center;
  padding: 5px;

  label {
    margin-left: 10px;
  }
}

.description-panel {
  white-space: pre-line;
  overflow: auto;
  word-break: break-all;
}

.left-panel {
  background: #f2f2f2;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}
