<div *ngIf="optionalResources$ |async as resources" class="panel left-panel">
  <div *ngFor="let resource of resources" class="resource">
    <p-checkbox name="resources"
                value="{{resource.id}}"
                [(ngModel)]="selectedResources"
                (onChange)="resourceSelect(resources)"></p-checkbox>
    <label (click)="resourceClick(resource)" class="pointer">{{resource.name}}</label>
  </div>
</div>

<div *ngIf="description" class="panel description-panel">{{description}}</div>
<div *ngIf="!description" class="panel description-panel middle">Click on any label on the left to get help</div>
