<div class="header">
  <span>Resources</span>
  <div (click)="addResourceClick()" class="add-resource pointer noselect" id="add-resource-action">
    <i class="far fa-plus-square"></i>
    <span>ADD OPTIONAL RESOURCE</span>
  </div>
</div>
<div class="resources-container">
  <div
    *ngFor="let resource of resources"
    (click)="configure(resource)"
    class="resource pointer">
    <img [src]="resource.icon || defaultIcon()" alt="">
    <span [title]="resource.name">{{resource.name}}</span>
  </div>

  <div *ngIf="!resources || resources.length == 0" class="empty-message">
    <div class="info"><i class="fas fa-exclamation-circle"></i>No resources defined</div>
    <div class="description">Please use the <i class="far fa-plus-square"></i> button above to add resources to this environment</div>
  </div>
</div>
