<div class="border border-secondary m-3 p-3 bg-white rounded h-80">
  <div class="py-2 page-body-heading justify-content-between">
    <label class="rounded col-lg-3 col-md-4 col-12 py-2 page-heading d-flex align-items-center justify-content-center"><i
      class="material-icons">settings</i>&nbsp;Administration Panel</label>
  </div>
  <div class="py-2">
    <div class="alert alert-success">You've successfully logged in as administrator</div>
    <div class="alert alert-info">To see the list of all entities press Entities in navigation bar</div>
  </div>
</div>
