:host {
  display: flex;
}

.header {
  padding: 10px;
  background: #F2F2F2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0 0 5px 0 grey;
  margin-right: 2px;
}

.logo {
  color: white;
  font-size: 26px;
  width: 40px;
  height: 40px;
  text-align: center;
  background: purple;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
}

.actions {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: auto;

  > * {
    margin-top: 10px;
    cursor: pointer;
  }
}
