@import '../../../common/css/colors';
@import '../../../common/css/fonts';

.pagination-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-top: 20px;

    .pagination {
        display: flex;
        height: 100%;

        > * {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 40px;
            height: 100%;
            margin: 0 10px;

            border-radius: 50%;
            box-shadow: 0 0 10px #999;

            font-family: $font-roboto;
            font-size: 14px;
            color: $l-blue;

            cursor: pointer;

            transition: .3s;

            &.active {
                color: white;
                background-color: $l-blue;
            }
        }
    }
}
