.pagination-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-top: 20px;

    .pagination {
        display: flex;
        height: 100%;

        > * {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 40px;
            height: 100%;
            margin: 0 10px;

            border-radius: 50%;
            box-shadow: 0 0 10px #999;
            font-size: 14px;
            color: #2129BF;
            background-color: #eddd53;

            cursor: pointer;

            transition: .3s;

            &.active {
                color: #eddd53;
                background-color: #2129BF;
            }
        }
    }
}
