<ng-container [ngSwitch]="component.type">
  <eim-split *ngSwitchCase="componentType.SPLIT"
             [component]="asEimSplitUiConfigModel(component)">
    <eim-custom *ngFor="let item of asEimSplitUiConfigModel(component).elements"
                [component]="item"
                (configsChange)="dataChanged($event)"
                [(configs)]="configs">
    </eim-custom>
  </eim-split>
  <eim-editor *ngSwitchCase="componentType.EDITOR"
              [(configs)]="configs"
              (configsChange)="dataChanged($event)"
              [component]="component"
  ></eim-editor>
  <eim-external *ngSwitchCase="componentType.IFRAME"
                [(configs)]="configs"
                (configsChange)="dataChanged($event)"
                [component]="asEimExternalUiConfigModel(component)">
  </eim-external>
  <eim-external *ngSwitchCase="componentType.HTML"
                [(configs)]="configs"
                (configsChange)="dataChanged($event)"
                [component]="asEimExternalUiConfigModel(component)">
  </eim-external>
  <eim-external *ngSwitchCase="componentType.WEB_COMPONENT"
                [(configs)]="configs"
                (configsChange)="dataChanged($event)"
                [component]="asEimExternalUiConfigModel(component)">
  </eim-external>
</ng-container>
