<ng-container *ngIf="environment">
  <div class="header">
    <ng-container *ngIf="!isEnvironmentConfigured(); then firstTimeLoginHeader; else usualHeader"></ng-container>
    <ng-template #firstTimeLoginHeader>
      <div class="first-time-login">Specify Your Environment details</div>
    </ng-template>
    <ng-template #usualHeader>
      <div class="env-settings-header">
        <div class="img">
          <img src="/ui/assets/images/env.png" alt="">
        </div>
        <div class="title">Environment Settings</div>
        <div class="name">{{environment.name}}</div>
      </div>
    </ng-template>
  </div>

  <div class="content row row-space-between">
    <div class="section">
      <div class="field">
        <div class="label">Environment Name</div>
        <div class="value">
          <input placeholder="Enter your Environment Name" type="text" [(ngModel)]="environmentName">
        </div>
      </div>

      <div class="field">
        <div class="label">Environment Color</div>
        <div class="value">
          <div class="row row-space-between">
            <div class="color"
                 *ngFor="let c of colors"
                 [ngClass]="{active: c == activeColor}"
                 [style.backgroundColor]="c"
                 (click)="selectColor(c)"></div>
          </div>
        </div>
      </div>
    </div>


    <div class="section" *ngIf="isEnvironmentConfigured()">
      <div class="field">
        <div class="label">Environment Configuration Settings(Config.xml)</div>
        <div class="value">
          <div class="row">
            <button class="button action-button main" (click)="exportConfig()">Export</button>
            <button class="button action-button secondary" (click)="importConfig()">Import</button>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="label">Environment Logs (all available)</div>
        <div class="value">
          <div class="row">
            <button class="button action-button main" (click)="exportEnvironmentLogs()">Export</button>
          </div>
        </div>
      </div>
    </div>

    <div class="section" *ngIf="isEnvironmentConfigured()">
      <div class="field">
        <div class="label">Uninstall all Products</div>
        <div class="value">
          <div class="row">
            <button class="button action-button uninstall-button" (click)="uninstallAllProducts()">Uninstall</button>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="label">Remove Environment</div>
        <div class="value">
          <div class="row">
            <button class="button action-button delete-button" (click)="deleteEnvironment()">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer row">
    <ng-container *ngIf="!isEnvironmentConfigured(); then firstTimeLoginFooter; else usualFooter"></ng-container>
    <ng-template #firstTimeLoginFooter>
      <button class="action-button main" (click)="nextClick()">Next</button>
    </ng-template>
    <ng-template #usualFooter>
      <button class="action-button main" (click)="saveClick()">Save</button>
      <button class="action-button secondary" (click)="cancelClick()">Cancel</button>
    </ng-template>
  </div>


</ng-container>
