.content {
  margin: 10px 20px;
}

.field {
  label {
    span {
      width: 100px;
    }

    input {
      padding: 8px;
    }
  }
}

.credentials {
  padding-left: 100px;
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 6px;
  color: rgb(127, 127, 127);
}

.test {
  padding-left: 100px;
  margin-top: 15px;

  .error {
    color: red;
    font-size: 12px;
    margin-left: 10px;

    i {
      margin-right: 3px;
    }
  }
}
