<div class="header">
  <img src="assets/images/server.png" alt="">
  <span class="server-name" [title]="server.hostname">{{server.hostname}}</span>
  <i class="far fa-plus-square size22 light-blue pointer" (click)="addProductClick()"></i>
  <i class="fas fa-ellipsis-v menu pointer" (click)="menu.show($event)"></i>
</div>

<div class="body">
  <div *ngIf="!server.components || server.components.length == 0" class="empty-message">
    <div class="info light-blue"><i class="fas fa-exclamation-circle"></i>No Products/Components</div>
    <div class="description">Please use the options to add new or copied items from another server.</div>
  </div>
</div>

<eim-menu #menu
          (menuItemClick)="onMenuClick($event)"
          [direction]="menuDirection"
          [itemTemplate]="serverMenuItem"
          [menuItems]="serverMenuItems">
</eim-menu>

<ng-template #serverMenuItem let-item="item">
  <div class="server-menu-item">
    <i class="{{item.iconCls}} menu-icon"></i>
    <span>{{item.caption}}</span>
  </div>
</ng-template>
