:host {
  display: flex;
}

.content {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}


::ng-deep {
  // for splitjs
  .gutter {
    background: #F0F0F2;
    border: 1px solid #C1C6C9;
  }

  .gutter.gutter-vertical {
    cursor: n-resize;
  }

  .gutter.gutter-horizontal {
    cursor: e-resize;
  }
}
