:host {
  background: rgb(242, 242, 242);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  border-bottom: 1px solid gray;
}

.header {
  flex: 1;
  min-width: 0;
}

.description {
  font-size: 14px;
  color: rgb(127, 127, 127);
}

.icon {
  margin-right: 10px;

  img {
    width: 42px;
    height: 42px;
  }
}

.closeicon {
  font-size: 28px;
}
